body{
width: 100%;
font-size: 14px;
font-family: 'Anton', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Dongle', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

html{
    font-size: 14px;
}

.page-head {
position: relative;
width: 80%;
height: 60rem;
margin: 1rem auto;
background-color: #fff;
}

.navigation{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.image-6 {
    position: absolute;
    top: -3rem;
    left: 40%;
    width: 15rem;
    height: 13rem;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#2E2E2E;
    font-size: 2rem;

}

.image-logo{
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 1rem;
}

.header-icons{
    display: flex;
    flex-direction: row;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 11.5rem;
}

.header-icons-item{
    margin-right: 4rem;
}

.header-icons-item:hover{
    background-color: #ff9401;
    border-radius: 3px;
}


.header-main{
display: flex;
flex-direction: row;
position: relative;
}

.hero-text{
 width: 40rem;
 height: 300px;
 margin-top: -7rem;

}

.hero-text-title{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 15rem;
    color: #FF9401;
}

.weight-hero-text{
    margin-top: 1rem;
    font-size: 5.71rem;
    font-weight: 800;
    line-height: 1rem;
}

.weight-hero-text-2{
    margin-top: -3rem;
    font-size: 5.71rem;
    font-weight: 800;
    line-height: 1rem;
}

.hero-p{
font-size: 1.5rem;
margin-top: -2rem;
}

.hero-button{
width: 10rem;
height: 3rem;
margin-top: 3.14rem;
font-weight: 1.5rem;
background-color: #FF9401;
box-shadow: 0px 0px 30px -5px #FF9401;
color: #fff;
border-radius: 20px;
border: none;
}

.hero-button:hover{
    background-color: #fff;
    color: #FF9401;
    border: 1px solid #000;
}

.hero-icons{
    display: flex;
    flex-direction: row;
    width: 11.78rem;
    margin-top: 13rem;
}

.hero-icons-item{
margin-right: 2.1em;
box-shadow: 0px 0px 50px -5px #FF9401;
}


.elipse-header-image{
    width: 39.2rem;
    position: absolute;
    left: 20rem;
    top: 5rem;
}

/* SECTION 1*/

.section-1{
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
    color:  #2E2E2E;
    max-height: 600px;
}

.section-1-elipse{
position: relative;
margin-top: -8rem;
margin-left: -5rem;
z-index: 1;
}



.main-content-section-1{
margin-top: 10rem;
margin-left: 5rem;
}

.section-1-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: #FF9401;
    margin-bottom: 0px;
}

.section-1-weight-text{
    width: 25rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 1rem;
}

.section-1-p{
    width: 30rem;
    font-size: 1.42rem;
    margin-top: -1rem;
}

.section-1-button{
    width: 9rem;
    height: 2.5rem;
    margin-top: 2rem;
    font-weight: 1.5rem;
    background-color: #FF9401;
    box-shadow: 0px 0px 100px -2px #FF9401;
    color: #fff;
    border-radius: 20px;
    border: none;
    }
    
.section-1-button:hover{
    background-color: #fff;
    color: #FF9401;
    border: 1px solid #000;
    }

/*SECTION-2*/

.section-2{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto;
    color:  #2E2E2E;
    width: 60%;
}

.section-2-title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FF9401;
    margin-bottom: 0px;
}

.section-2-font-weight{
    display: flex;
    justify-content: center; 
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 1rem;
}

.container-2-main-content{
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    justify-content: space-between;

}

.main-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 8.4rem;
}

.main-img{
width: 90px;
height: 116px;
padding-left: 50px; 
}

.main-title{
    font-size: 2rem;
    padding-left: 10px;
}

.main-p{
    font-size: 1.2rem;
    margin-top: 10px;
    color:#3F3232;
}

.salat-image{
    position: absolute;
    right: -20rem;
    top: -10rem;
}

.grill-image{
    position: absolute;
    left: -27rem;
    top: 0rem;
    width: 280px;
    height: 190px;
}



/*SECTION-3*/
.section-3{
    height: 100vh;
position: relative;
color: #2E2E2E;
background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
}

.section-3-title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FF9401;
    padding-top: 6.2rem;    
}

.section-3-font-weight{
    display: flex;
    justify-content: center; 
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    margin-top: 1rem;
}

.rise-photo{
    position: absolute;
    left: 70rem;
    top: 6.6rem;
}

.section-3-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 72px;
}

.section-3-card-item{
    width: 354px;
    height: 362px;
    margin-right: 54px;
    margin-top: 73px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 50px -10px #FF9401;
}

.section-3-card-item:last-child{
    margin-right: 0;
}

.section-3-image-food{
    padding-left: 12px;
    margin-top: 12px;
}

.section-3-card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-3-card-item-title{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 1.42rem;
    font-weight: 600;
    margin-top: 26px;
}

.section-3-card-item-button{
    width: 130px;
    height: 22px;
    margin-left: 10px;
    color: #2E2E2E;
    background: rgba(196, 196, 196, 0.26);
    border-radius: 15px;
    border: none;
}

.section-3-card-item-button:hover{
    background-color: #fff;
    border: 2px solid rgba(196, 196, 196, 0.26);;
}


.section-3-card-item-star{
    font-weight: 700;
    margin-top: 30px;
    font-size: 1.1rem;
    color:#818181;
}

.section-3-card-item-cost{
    font-style: italic;
    font-weight: 700;
    margin-right: 20px;
    line-height: 60px;
    color: #FF9401;
}

.img-star-section-3{
    width: 11px;
    height: 11px;
}

.section-3-button-block{
    display: flex;
    justify-content: center;
}



.section-3-button{
    width: 224px;
    height: 62px;
    font-weight: 500;
    font-size: 1.42rem;
    line-height: 30px;
    background-color: #FF9401;
    box-shadow: 0px 0px 50px -1px #FF9401;
    color: #fff;
    border-radius: 20px;
    border: none;
}

.section-3-button:hover{
background-color: #fff;
color: #FF9401;
border: 2px solid #818181;; 
}


/*SECTION4*/

.section-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 69%;
    margin-top: 157px;
    margin-bottom: 0;
    margin: 200px;
}

.section-4-main{
    margin-left: 116px;
}

.section-4-title{
font-weight: 500;
font-size: 1.7rem;
line-height: 2rem;
color: #FF9401;
}

.section-4-font-weight{
width: 360px;
margin-bottom: 18px;
font-size: 3.4rem;
color: #2E2E2E;
}

.section-4-p{
    width: 440px;
    font-weight: 500;
    font-size: 1.42rem;
    line-height: 160%;
    color: #3F3232;
    
}

.cola-image{
    position: absolute;
    top: -200px;
    left: -220px;
}

.section-4-salat-image{
    position: absolute;
    top:-100px;
    left:860px;
}

.section-4-icons{
    color:  #2E2E2E;
    border: 2px solid #2E2E2E;
    border-radius: 5px;
    margin-right: 20px;
}

.section-4-icons:hover{
   background-color: #ff9401;  
}

    

 /*SECTION5*/

 .section-5{
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin: -50px auto;
     width: 80%;
     color: #2E2E2E;
 }

.section-5-main{
    margin-left: 100px;
    margin-right: 100px;
}
 .section-5-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: #FF9401;
    margin-bottom: -25px;
 }

 .section-5-weight-text{
     width: 390px;
     font-weight: 700;
     font-size: 3.42rem;
 }

 .section-5-p{
     margin-top: -30px;
    font-family: Circular Std;
    font-style: italic;
    font-weight: 500;
    font-size: 1.28rem;
    line-height: 160%;
    color: #3F3232;
 }

 .section-5-name{
     margin-top: 50px;
    font-weight: 600;
    font-size: 1.74rem;
    line-height: 2rem;
    color: #2E2E2E;
 }

 .section-5-work{
     margin-top: -7px;
    font-family: Circular Std;
    font-style: italic;
    font-weight: 450;
    font-size: 1rem;
    line-height: 1.57rem;
    color: #675959;
 }

 .arrow{
     display: flex;
     position: absolute;
     top: 380px;
     left: 300px;
 }

 .arrow-button{
     border: none;
     border-color: none;
     background-color:#fff ;
 }

 

 .arrow-item-1{
     width: 20px;
     margin-right: 1rem;
 }

 .arrow-item-1:hover{
    background-color: #ff9401
  }

 .arrow-item-2{
     width: 40px;   
 }

 .arrow-item-2:hover{
     background-color: #675959;
 }



 /*FOOTER*/

 .footer-page{
     width: 100%;
     height: 50vh;
     position: relative;
     margin-top: 170px;
     padding-top: 85px;
    background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
 }

 .table-footer{
    margin: 0 auto;
    width: 60%;
    height: 100px;
    border-spacing: 20px 0;
 }

 td,tr{
     height: 50px;
     width: 100px;
     
}

.food-palace-table{
font-family: Circular Std;
font-style: normal;
font-weight: 450;
font-size: 1.14rem;
line-height: 2rem;
text-transform: capitalize;
text-decoration: none;
color: #3F3232;
}


.table-weight-text{
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 1.42rem;
line-height: 30px;
text-transform: capitalize;
color: #2E2E2E;
}

.table-p-small{
font-family: Circular Std;
font-style: normal;
font-weight: 450;
font-size: 1.14rem;
line-height: 2rem;
text-transform: capitalize;
text-decoration: none;
color: #6A5C5C;
}

.table-social{
    font-family: Circular Std;
    font-style: normal;
    font-weight: 600;
    font-size: 1.14reb;
    line-height: 2rem;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #2E2E2E;
}

.pineappl{
    position: absolute;
    left: -10px;
    top: -250px;

}

.heart{
    position: absolute;
    right:0px;
    top:-55px;
}
 