body{
width: 100%;
font-size: 14px;
font-family: 'Anton', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Dongle', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

html{
    font-size: 14px;
}

.page-head {
position: relative;
width: 80%;
height: 60rem;
margin: 1rem auto;
background-color: #fff;
}

.navigation{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.image-6 {
    position: absolute;
    top: -3rem;
    left: 40%;
    width: 15rem;
    height: 13rem;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#2E2E2E;
    font-size: 2rem;

}

.image-logo{
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 1rem;
}

.header-icons{
    display: flex;
    flex-direction: row;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 11.5rem;
}

.header-icons-item{
    margin-right: 4rem;
}


.header-main{
display: flex;
flex-direction: row;
position: relative;
}

.hero-text{
 width: 40rem;
 height: 300px;
 margin-top: -7rem;

}

.hero-text-title{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 15rem;
    color: #FF9401;
}

.weight-hero-text{
    margin-top: 1rem;
    font-size: 5.71rem;
    font-weight: 800;
    line-height: 1rem;
}

.weight-hero-text-2{
    margin-top: -3rem;
    font-size: 5.71rem;
    font-weight: 800;
    line-height: 1rem;
}

.hero-p{
font-size: 1.5rem;
margin-top: -2rem;
}

.hero-button{
width: 10rem;
height: 2.5rem;
margin-top: 3.14rem;
font-weight: 1.5rem;
background-color: #FF9401;
box-shadow: 0px 0px 100px -2px #FF9401;
color: #fff;
border-radius: 20px;
border: none;
}

.hero-button:hover{
    background-color: #fff;
    color: #FF9401;
    border: 1px solid #000;
}

.hero-icons{
    display: flex;
    flex-direction: row;
    width: 11.78rem;
    margin-top: 13rem;
}

.hero-icons-item{
margin-right: 2.1em;
box-shadow: 0px 0px 100px -5px #FF9401;
}

.elipse-header-image{
    width: 39.2rem;
    position: absolute;
    left: 20rem;
    top: 5rem;
}

/* SECTION 1*/

.section-1{
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
    color:  #2E2E2E;
    max-height: 600px;
}

.section-1-elipse{
position: relative;
margin-top: -8rem;
margin-left: -5rem;
z-index: 1;
}



.main-content-section-1{
margin-top: 10rem;
margin-left: 5rem;
}

.section-1-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: #FF9401;
    margin-bottom: 0px;
}

.section-1-weight-text{
    width: 25rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 1rem;
}

.section-1-p{
    width: 30rem;
    font-size: 1.42rem;
    margin-top: -1rem;
}

.section-1-button{
    width: 9rem;
    height: 2.5rem;
    margin-top: 2rem;
    font-weight: 1.5rem;
    background-color: #FF9401;
    box-shadow: 0px 0px 100px -2px #FF9401;
    color: #fff;
    border-radius: 20px;
    border: none;
    }
    
.section-1-button:hover{
    background-color: #fff;
    color: #FF9401;
    border: 1px solid #000;
    }

/*SECTION-2*/

.section-2{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto;
    color:  #2E2E2E;
    width: 60%;
}

.section-2-title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FF9401;
    margin-bottom: 0px;
}

.section-2-font-weight{
    display: flex;
    justify-content: center; 
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 1rem;
}

.container-2-main-content{
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    justify-content: space-between;

}

.main-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 8.4rem;
}

.main-img{
width: 90px;
height: 116px;
padding-left: 50px; 
}

.main-title{
    font-size: 2rem;
    padding-left: 10px;
}

.main-p{
    font-size: 1.2rem;
    margin-top: 10px;
}

.salat-image{
    position: absolute;
    right: -20rem;
    top: -10rem;
}

.grill-image{
    position: absolute;
    left: -27rem;
    top: 0rem;
    width: 280px;
    height: 190px;
}



/*SECTION-3*/
.section-3{
position: relative;
color: #2E2E2E;
background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
}

.section-3-title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FF9401;
    padding-top: 6.2rem;    
}

.section-3-font-weight{
    display: flex;
    justify-content: center; 
    font-size: 3rem;
    font-weight: 500;
    line-height: 4rem;
    margin-top: 1rem;
}

.rise-photo{
    position: absolute;
    left: 70rem;
    top: 6.6rem;
}

.section-3-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-3-card-item{
    width: 354px;
    height: 362px;
    margin-right: 54px;
    margin-top: 73px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 1000px;

}

.section-3-card-item:last-child{
    margin-right: 0;
}

.section-3-image-food{
    padding-left: 12px;
    margin-top: 12px;
}

.section-3-card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-3-card-item-title{
    margin-left: 10px;
    font-size: 1.42rem;
    font-weight: 600;
}

.section-3-card-item-button{
    width: 130px;
    height: 22px;
    margin-left: 10px;
    color: #2E2E2E;
    background: rgba(196, 196, 196, 0.26);
    border-radius: 15px;
    border: none;
}

.section-3-card-item-button:hover{
    background-color: #fff;
    border: 2px solid rgba(196, 196, 196, 0.26);;
}


.section-3-card-item-star{
    font-weight: 700;
    margin-top: 30px;
    font-size: 1.1rem;
    color:#818181;
}

.section-3-point{
position: absolute;
}

.section-3-card-item-cost{
    font-weight: 700;
    margin-right: 20px;
    padding-top: 30px;
    line-height: 60px;
    color: #FF9401;
}